<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Falso IMDb</title>
        <meta charset="utf-8" />
        <meta name="description" >
        <link rel="stylesheet" href="../style/home.css" />
    </head>
    
    <body>
        <!-- Header -->

        <div class="banner flex">
            <div>
                <button style="border: none" onclick="window.location.href='../view/home.html'">
                    <img class="logo" src="../images/imbd_logo.png">
                </button>
            </div>
            <div class="flex">
                <div>
                    <input class="search" type="text" id="filter" placeholder="Search">
                </div>
                <div class="container_btn_search">
                    <button class="search_button" type="submit" value="submit">
                        <img class="search_image" src="../images/lupa.png"">
                    </button>
                </div>           
            </div>
            <div class="sign-button-container flex">
                <div class="p-r-20">
                    <button class="sign-button" onclick="window.location.href='../view/signIn.html'" >Sign in</button>
                </div>
                <div class="p-r-20">
                    <button class="sign-button" onclick="window.location.href='../view/signUp.html'">Sign up</button>
                </div>
            </div>
        </div>
        
        <!-- Body -->
        <div class="flex">
            <div class="container-left">
                <div class="p-t-15">
                    <div class="p-t-15 title-categories"><a class="m-l-55"> Categorias</a></div>
                    <div class="p-t-15"><a class="m-l-55">Accion</a></div>
                    <div class="p-t-15"><a class="m-l-55">Animacion</a></div>
                    <div class="p-t-15"><a class="m-l-55">Aventura</a></div>
                    <div class="p-t-15"><a class="m-l-55">Ciencia Ficcion</a></div>
                    <div class="p-t-15"><a class="m-l-55">Comedia</a></div>
                    <div class="p-t-15"><a class="m-l-55">Crimen</a></div>
                    <div class="p-t-15"><a class="m-l-55">Drama</a></div>
                    <div class="p-t-15"><a class="m-l-55">Familia</a></div>
                    <div class="p-t-15"><a class="m-l-55">Fantasia</a></div>
                    <div class="p-t-15 p-b-15"><a class="m-l-55">Guerra</a></div>
                </div>
            </div>
            <div>
                <div class="flex">
                    <div class="movie-info">
                        <a href="../view/movie.html">
                            <img class="logo" src="../images/joker_poster.png">
                            <p>Joker (2020)</p>
                            <p>Genero</p>
                            <p>Calificacion</p>
                        </a>
                    </div>
                    <div class="movie-info">
                        <img class="logo" src="../images/joker_poster.png">
                        <p>Joker (2020)</p>
                        <p>Genero</p>
                        <p>Calificacion</p>
                    </div>
                    <div class="movie-info">
                        <img class="logo" src="../images/joker_poster.png">
                        <p>Joker (2020)</p>
                        <p>Genero</p>
                        <p>Calificacion</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="movie-info">
                        <img class="logo" src="../images/joker_poster.png">
                        <p>Joker (2020)</p>
                        <p>Genero</p>
                        <p>Calificacion</p>
                    </div>
                    <div class="movie-info">
                        <img class="logo" src="../images/joker_poster.png">
                        <p>Joker (2020)</p>
                        <p>Genero</p>
                        <p>Calificacion</p>
                    </div>
                    <div class="movie-info">
                        <img class="logo" src="../images/joker_poster.png">
                        <p>Joker (2020)</p>
                        <p>Genero</p>
                        <p>Calificacion</p>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>