<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Falso IMDb</title>
        <meta charset="utf-8" />
        <meta name="description" >
        <link rel="stylesheet" href="../style/signUp.css" />
    </head>
    
    <body>   
      <div class="banner flex">
          <div>
            <button style="border: none" onclick="window.location.href='../view/home.html'">
              <img class="logo" src="../images/imbd_logo.png">
            </button>
          </div>
          <div class="sign-button-container flex">
              <div class="p-r-20">
                  <button class="sign-button" onclick="window.location.href='../view/signIn.html'" >Sign in</button>
              </div>
              <div class="p-r-20">
                  <button class="sign-button" onclick="window.location.href='../view/signUp.html'">Sign up</button>
              </div>
          </div>
      </div>
      
      <div class="log-form">
        <h2>Sign up on our site</h2>
        <form class="log-in">
          <input type="text" title="username" placeholder="username" />
          <input type="text" title="alias" placeholder="alias" />
          <input type="password" title="username" placeholder="password" />
          <button type="submit" class="btn">Sign up</button>
        </form>
      </div>
    </body>
</html>